services:
  db:
    image: postgres:16-alpine
    container_name: db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      POSTGRES_PORT: 5432
    ports:
      - "5432:5432"
    volumes:
      - ./ninjamagic/sqlc/schema.sql:/docker-entrypoint-initdb.d/01_schema.sql
      - ./seeds/demo_items.sql:/docker-entrypoint-initdb.d/02_demo_items.sql
    command: ["postgres", "-c", "log_statement=all"]
